__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
tests/
*.db
.git/
.gitignore
.dockerignore
README.md
terraform/
helm/
architecture.py
architecture.png
Jenkinsfile*
requirements-dev.txt
.vscode/
.idea/
.DS_Store
